.header{
  width: 100%;
  min-height: 10vh;
  background-color: rgb(124, 124, 124) !important;
}

.gris{
  background-color: rgb(194, 194, 194) !important;
}

.verde{
  background-color: rgb(89, 216, 89) !important;
}

.main{
  min-height: 100vh;
}